@keyframes Op {
  from {
    opacity: 0;
    transform: translateY(-10px);
    filter: blur(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
    filter: blur(0px);
  }
}
@mixin buttonDefault {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  padding: 15px 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
@mixin hoverChange {
  transform: translateY(5px);
  filter: hue-rotate(10deg) brightness(150%) saturate(120%);
}
@mixin hoverChangeUp {
  cursor: pointer;
  transform: translateY(-5px);
  filter: hue-rotate(10deg) brightness(130%) saturate(110%);
}
@mixin gridCenter($repeat: 1) {
  display: grid;
  grid-template-columns: repeat($repeat, auto);
  align-items: center;
  justify-items: center;
}
@mixin gridStart($repeat: 1) {
  display: grid;
  grid-template-columns: repeat($repeat, auto);
  align-items: center;
  justify-items: start;
}
@mixin hoverButtom {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1),
    inset 0px 0px 0px 0.5px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
@mixin hoverScale($scale: 1.2) {
  transform: scale($scale);
}

@mixin gridRowsCenter($repeat: 1) {
  display: grid;
  grid-template-rows: repeat($repeat, auto);
  align-items: center;
  justify-items: center;
}
@mixin gridRowsStart($repeat: 1) {
  display: grid;
  grid-template-rows: repeat($repeat, auto);
  align-items: center;
  justify-items: start;
}
@mixin OpAnimate($duration: 0.2s) {
  opacity: 0;
  animation: Op 1s forwards;
  animation-delay: $duration;
}
